.idea/
__pycache__/

log/

wandb/

lightning_logs/
.DS_Store


RNAProteinInteractions/Ensembl/Ensembl.parquet
RNAProteinInteractions/miRBase/miRNA.parquet
RNAProteinInteractions/NCBI/ncbi_proteins.parquet
RNAProteinInteractions/NCBI/ncbi_rna.parquet
RNAProteinInteractions/NONCODE/NONCODE.parquet
RNAProteinInteractions/UniProt/protein_uniprot.parquet

RNAProteinInterAct/

dataset/scripts/annotate/dataset

dataset/scripts/embeddings/ESM/results
dataset/scripts/embeddings/ESM/protein_embeddings.npy

dataset/scripts/embeddings/RNA-FM/results
dataset/scripts/embeddings/RNA-FM/rna_embeddings.npy

experiment_logs/
cluster_logs/
data/

Download_data_RP.txt